<div>
    <table class="table table-striped table-hover">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
            <th scope="col">Action</th>
        </tr>
    
        <tr *ngFor="let menuItem of menu; let i = index" class="col-12 col-md-8">
            <td>{{menuItem.name}}</td>
            <td>{{menuItem.price}}</td>
            <td>{{menuItem.categoryDTO.name}}</td>
            <td>
                <button type="button" class="btn btn-danger" (click)="delete(menuItem.id!)">Delete</button>
                <button type="button" class="btn btn-light" (click)="edit(menuItem)">Update</button>
            </td>
        </tr>
        </table>
</div>