<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Trattoria</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
              <a class="nav-link" [routerLink]="['menu']">Home</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['main']">Edit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['about']">About</a>
        </li>
          <li class="nav-item">
              <a class="nav-link" [routerLink]="['contact']">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['menu']">Log in</a>
        </li>
      </ul>
  </div>
</nav>

<div class="position-relative overflow-hidden text-center bg-light">
  <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 font-weight-normal">Trattoria La Campana</h1>
      <p class="lead font-weight-normal">...perfect place to grab a quick bite and wash it down with some local wine...</p>
  </div>
  <div class="product-device box-shadow d-none d-md-block"></div>
  <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>

<div class="container">
  <div class="py-5">
      <router-outlet></router-outlet>
  </div>
</div>