<div class="position-relative overflow-hidden p-1 p-md-1 m-md-1 text-center bg-light">
    <div class="col-md-5 mx-auto">
        <p class="lead font-weight-normal">Since 1992</p>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
</div>