<!-- <div class="row g-3">
        <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th colspan="10">name</th>
                <th colspan="1">category</th>
                <th colspan="1">price</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="10">{{menu.name}}</td>
                <td colspan="1">{{menu.category.name}}</td>
                <td colspan="1">{{menu.price}}</td>
              </tr> 
            </tbody>
        </table>

</div> -->